.table {
  border-collapse: collapse;
  border: solid 1px #eee;
  background: white;
  color: black;
  margin-bottom: 1em;
  width: 100%;
  
  thead {
    background-color: #eee;
  }

  th, td {
    padding: .5em;
    border-bottom: solid 1px #eee;
    text-align: left;
  }
}

.admin-view {
  input[type=text],
  input[type=number] {
    border: solid 1px #eee;
    padding: .5em;;
  }

  .container {
    width: 980px;
    max-width: 100%;
    margin: 1em auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.button {
  background: black;
  color: white;
  padding: 1em;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  padding: 1em;
  background-size: 100% 100%;
}

.cont-2cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media(max-width: 550px) {
    grid-template-columns: 1fr;
  }
}

.__reward-airpods-4 {
  color: white;
  background-image: linear-gradient(to right, #ff05aa, #d167ec, #8995ff, #2cb3ff, #00c8ff);
}

.__reward-500-000-vnd	{
  background-color: black;
  color: white;
}

.r-col {
  // max-height: 80vh;
  // overflow: auto;
}

.__sticky {
  position: sticky;
  top: 30px;
}