
body {
  overflow: hidden;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.user-info {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  font-size: 12px;
  // font-weight: bold;

  background: rgb(63,94,251);
  background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);

  p {
    margin:  0;
  }
}


.update-user-info__form {
  padding: 1em 2em; 
  background: white;
  border-radius: 4px;
  color: black;
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;

  input[type=text],
  input[type=email],
  input[type=number] {
    width: 100%;
    padding: .8em 1em;
    background: white;
    color: black;
    box-sizing: border-box;
    border-radius: 4px;
    border-width: 1px;
  }

  p {
    display: block;

    label {
      display: block;
      width: 100%;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }
}

.form {

  a {
    color: #000;
  }

  .form-actions { 
    margin-top: 2em;
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
}

.button {
  background: black;
  color: white;
  padding: 1em;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}